#deals_mobile {
  padding: 10px 0;
  .deals_mobile__title {
    margin: 10px 5.5%;
    font-size: 28px;
    line-height: 1.4;
    font-weight: normal;
    color: #29246a;

    a {
      color: #29246a;
    }
  }

  .deals_mobile__stores {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 70px 0 50px;

    .deals_mobile__logo {
      height: 55px;
      width: auto;
      opacity: 0.6;
      transition: all 0.2s ease-in-out;

      &:hover {
        cursor: pointer;
        opacity: 1;
      }

      img {
        height: 100%;
        width: auto;
      }
    }

    .active {
      opacity: 1;
      transform: scale(1.35);
    }
  }
  .deals_mobile__list-container {
    position: relative;
    background-color: #eaf1f8;
    padding: 20px 0;
    min-height: 510px;

    .deals__loader-container {
      display: none;
      &.active {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 407px;
      }
    }
    .loader {
      display: block;
      border: 7px solid #c8c5c5;
      border-top: 7px solid #ffffff;
      border-radius: 50%;
      width: 80px;
      height: 80px;
      -webkit-animation: spin 1s linear infinite;
      animation: spin 1s linear infinite;

      /* Safari */
      @-webkit-keyframes spin {
        0% {
          -webkit-transform: rotate(0deg);
        }
        100% {
          -webkit-transform: rotate(360deg);
        }
      }

      @keyframes spin {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
    }

    ul {
      transition: opacity 0.5s ease-in-out;
      opacity: 0;
      height: 0;
      overflow: hidden;
      list-style: none;

      &.active {
        opacity: 1;
        height: auto;

        .element {
          a {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-bottom: 20px;
            text-decoration: none;
            color: #000000;

            .element__title {
              flex-grow: 5;
              margin: 0 5.5%;
              font-size: 18px;
            }

            .element__price {
              flex-grow: 1;
              text-align: right;
              text-decoration: line-through;
              margin-right: 3%;
            }

            .element__deal {
              width: 78px;
              background: #37cd8f;
              color: white;
              text-align: center;
              font-size: 20px;
              margin-right: 5.5%;
              padding: 7px 10px 7px 8px;
              border-radius: 20px;
            }
          }
        }
      }

      a {
        text-decoration: none;
        color: #000;

        button {
          display: block;
          margin: auto;
          font-size: 16px;
          padding: 0.6rem 1rem;
          border: 1px solid #000000;
          border-radius: 2rem;
          background-color: transparent;
          color: #000000;
          cursor: pointer;
          transition: all 0.2s;

          &:hover {
            background-color: #ffffff;
          }
        }
      }
    }
  }
}

@media (min-width: 1199px) {
  #deals_mobile {
    display: none;
  }
}
