// footer
.footer {
  overflow: hidden;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 19rem;

  .footer__inner {
    width: 150%;
    height: 20rem;
    transform: translate(-17%, 20%);
    border-radius: 50%;
    background-color: #eaf1f8;

    @media (min-width: 321px) {
      transform: translate(-17%, 15%);
    }
  }

  img {
    box-sizing: content-box;
    display: block;
    height: 2rem;
    margin: 0 auto;
    padding: 3rem 0 2rem 0;
  }

  p {
    text-align: center;

    @media (min-width: 321px) {
      font-size: 1.2rem;
    }

    &:last-of-type {
      padding: 2rem;

      @media (min-width: 321px) {
        font-size: 1.2rem;
      }
    }

    a {
      color: #000;
      text-decoration: none;
    }
  }
}
