#deals_mobile {
  padding: 10px 0;
}

#deals_mobile .deals_mobile__title {
  margin: 10px 5.5%;
  font-size: 28px;
  line-height: 1.4;
  font-weight: normal;
  color: #29246a;
}

#deals_mobile .deals_mobile__title a {
  color: #29246a;
}

#deals_mobile .deals_mobile__stores {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 70px 0 50px;
}

#deals_mobile .deals_mobile__stores .deals_mobile__logo {
  height: 55px;
  width: auto;
  opacity: 0.6;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#deals_mobile .deals_mobile__stores .deals_mobile__logo:hover {
  cursor: pointer;
  opacity: 1;
}

#deals_mobile .deals_mobile__stores .deals_mobile__logo img {
  width: 100%;
  height: 100%;
}

#deals_mobile .deals_mobile__stores .active {
  opacity: 1;
  -webkit-transform: scale(1.35);
          transform: scale(1.35);
}

#deals_mobile .deals_mobile__list-container {
  position: relative;
  background-color: #eaf1f8;
  padding: 20px 0;
  min-height: 510px;
}

#deals_mobile .deals_mobile__list-container .deals__loader-container {
  display: none;
}

#deals_mobile .deals_mobile__list-container .deals__loader-container.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 407px;
}

#deals_mobile .deals_mobile__list-container .loader {
  display: block;
  border: 7px solid #c8c5c5;
  border-top: 7px solid #ffffff;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
  /* Safari */
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

#deals_mobile .deals_mobile__list-container ul {
  -webkit-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
  height: 0;
  overflow: hidden;
  list-style: none;
}

#deals_mobile .deals_mobile__list-container ul.active {
  opacity: 1;
  height: auto;
}

#deals_mobile .deals_mobile__list-container ul.active .element a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  text-decoration: none;
  color: #000000;
}

#deals_mobile .deals_mobile__list-container ul.active .element a .element__title {
  -webkit-box-flex: 5;
      -ms-flex-positive: 5;
          flex-grow: 5;
  margin: 0 5.5%;
  font-size: 18px;
}

#deals_mobile .deals_mobile__list-container ul.active .element a .element__price {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: right;
  text-decoration: line-through;
  margin-right: 3%;
}

#deals_mobile .deals_mobile__list-container ul.active .element a .element__deal {
  width: 78px;
  background: #37cd8f;
  color: white;
  text-align: center;
  font-size: 20px;
  margin-right: 5.5%;
  padding: 7px 10px 7px 8px;
  border-radius: 20px;
}

#deals_mobile .deals_mobile__list-container ul a {
  text-decoration: none;
  color: #000;
}

#deals_mobile .deals_mobile__list-container ul a button {
  display: block;
  margin: auto;
  font-size: 16px;
  padding: 0.6rem 1rem;
  border: 1px solid #000000;
  border-radius: 2rem;
  background-color: transparent;
  color: #000000;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

#deals_mobile .deals_mobile__list-container ul a button:hover {
  background-color: #ffffff;
}

#deals_mobile {
  padding: 10px 0;
}

#deals_mobile .deals_mobile__title {
  margin: 10px 5.5%;
  font-size: 28px;
  line-height: 1.4;
  font-weight: normal;
  color: #29246a;
}

#deals_mobile .deals_mobile__title a {
  color: #29246a;
}

#deals_mobile .deals_mobile__stores {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 70px 0 50px;
}

#deals_mobile .deals_mobile__stores .deals_mobile__logo {
  height: 55px;
  width: auto;
  opacity: 0.6;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#deals_mobile .deals_mobile__stores .deals_mobile__logo:hover {
  cursor: pointer;
  opacity: 1;
}

#deals_mobile .deals_mobile__stores .deals_mobile__logo img {
  width: 100%;
  height: 100%;
}

#deals_mobile .deals_mobile__stores .active {
  opacity: 1;
  -webkit-transform: scale(1.35);
          transform: scale(1.35);
}

#deals_mobile .deals_mobile__list-container {
  position: relative;
  background-color: #eaf1f8;
  padding: 20px 0;
  min-height: 510px;
}

#deals_mobile .deals_mobile__list-container .deals__loader-container {
  display: none;
}

#deals_mobile .deals_mobile__list-container .deals__loader-container.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 407px;
}

#deals_mobile .deals_mobile__list-container .loader {
  display: block;
  border: 7px solid #c8c5c5;
  border-top: 7px solid #ffffff;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
  /* Safari */
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

#deals_mobile .deals_mobile__list-container ul {
  -webkit-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
  height: 0;
  overflow: hidden;
  list-style: none;
}

#deals_mobile .deals_mobile__list-container ul.active {
  opacity: 1;
  height: auto;
}

#deals_mobile .deals_mobile__list-container ul.active .element a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  text-decoration: none;
  color: #000000;
}

#deals_mobile .deals_mobile__list-container ul.active .element a .element__title {
  -webkit-box-flex: 5;
      -ms-flex-positive: 5;
          flex-grow: 5;
  margin: 0 5.5%;
  font-size: 18px;
}

#deals_mobile .deals_mobile__list-container ul.active .element a .element__price {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: right;
  text-decoration: line-through;
  margin-right: 3%;
}

#deals_mobile .deals_mobile__list-container ul.active .element a .element__deal {
  width: 78px;
  background: #37cd8f;
  color: white;
  text-align: center;
  font-size: 20px;
  margin-right: 5.5%;
  padding: 7px 10px 7px 8px;
  border-radius: 20px;
}

#deals_mobile .deals_mobile__list-container ul a {
  text-decoration: none;
  color: #000;
}

#deals_mobile .deals_mobile__list-container ul a button {
  display: block;
  margin: auto;
  font-size: 16px;
  padding: 0.6rem 1rem;
  border: 1px solid #000000;
  border-radius: 2rem;
  background-color: transparent;
  color: #000000;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

#deals_mobile .deals_mobile__list-container ul a button:hover {
  background-color: #ffffff;
}

@media (min-width: 1199px) {
  #deals_mobile {
    display: none;
  }
}

#deals_web {
  padding: 50px 0;
}

#deals_web .deals__title {
  text-align: center;
  margin: 0 0 70px;
  font-size: 28px;
  line-height: 1.4;
  font-weight: normal;
  color: #29246a;
}

#deals_web .deals__title a {
  color: #29246a;
  text-decoration: underline;
}

#deals_web .deals-container {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: 500px 500px;
  grid-template-columns: 500px 500px;
  grid-row: auto auto;
  grid-column-gap: 10%;
  grid-row-gap: 50px;
  margin: 50px auto;
  width: 100%;
}

#deals_web .deals-container .deals__list {
  min-width: 500px;
  min-height: 645px;
  background-color: #eaf1f8;
  border-radius: 100px;
}

#deals_web .deals-container .deals__list img {
  display: block;
  height: 75px;
  width: auto;
  margin: 38px auto;
}

#deals_web .deals__loader-container {
  display: none;
}

#deals_web .deals__loader-container.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 407px;
}

#deals_web .loader {
  display: block;
  border: 7px solid #c8c5c5;
  border-top: 7px solid #ffffff;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
  /* Safari */
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

#deals_web ul {
  list-style: none;
}

#deals_web ul .element a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  text-decoration: none;
  color: #000000;
}

#deals_web ul .element a .element__title {
  -webkit-box-flex: 5;
      -ms-flex-positive: 5;
          flex-grow: 5;
  margin: 0 5.5%;
  font-size: 18px;
}

#deals_web ul .element a .element__price {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: right;
  text-decoration: line-through;
  margin-right: 3%;
}

#deals_web ul .element a .element__deal {
  width: 78px;
  background: #37cd8f;
  color: white;
  text-align: center;
  font-size: 20px;
  margin-right: 5.5%;
  padding: 7px 10px 7px 8px;
  border-radius: 20px;
}

#deals_web a {
  text-decoration: none;
  color: #000;
}

#deals_web a button {
  display: block;
  margin: auto;
  font-size: 16px;
  margin: 20px auto;
  padding: 0.6rem 1rem;
  border: 1px solid #000000;
  border-radius: 2rem;
  background-color: transparent;
  color: #000000;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

#deals_web a button:hover {
  background-color: #ffffff;
}

@media (max-width: 1198px) {
  #deals_web {
    display: none;
  }
}

#about {
  margin: 35px 5.5%;
  color: #29246a;
}

#about .about__title {
  font-size: 28px;
}

#about .about__desc {
  font-size: 25px;
  margin-top: 10px;
  line-height: 1.7;
}

@media (min-width: 1199px) {
  #about {
    text-align: center;
    max-width: 1000px;
    margin: 80px auto;
  }
}

.footer {
  overflow: hidden;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 19rem;
}

.footer .footer__inner {
  width: 150%;
  height: 20rem;
  -webkit-transform: translate(-17%, 20%);
          transform: translate(-17%, 20%);
  border-radius: 50%;
  background-color: #eaf1f8;
}

@media (min-width: 321px) {
  .footer .footer__inner {
    -webkit-transform: translate(-17%, 15%);
            transform: translate(-17%, 15%);
  }
}

.footer img {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: block;
  height: 2rem;
  margin: 0 auto;
  padding: 3rem 0 2rem 0;
}

.footer p {
  text-align: center;
}

@media (min-width: 321px) {
  .footer p {
    font-size: 1.2rem;
  }
}

.footer p:last-of-type {
  padding: 2rem;
}

@media (min-width: 321px) {
  .footer p:last-of-type {
    font-size: 1.2rem;
  }
}

.footer p a {
  color: #000;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  position: relative;
  min-height: 100vh;
}

body::after {
  content: '';
  display: block;
  height: 19rem;
  /* Set same as footer's height */
}

body.hidden {
  overflow-y: hidden !important;
}

#container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

.elipse-outer {
  position: absolute;
  top: 0;
  left: 50%;
  width: 250%;
  height: 460%;
  -webkit-transform: translate(-50%, -80%);
          transform: translate(-50%, -80%);
  border-radius: 50%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(80%, #4b11c2), color-stop(89%, #7a3ff2), to(#6635ca));
  background: linear-gradient(#4b11c2 80%, #7a3ff2 89%, #6635ca);
}

.elipse-outer .elipse-inner {
  position: relative;
  width: 100%;
  height: 100%;
}

.elipse-outer .elipse-inner p {
  position: absolute;
  bottom: 10%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100vw;
  padding: 1rem;
  text-align: center;
  font-size: 28px;
  color: #fff;
}

.elipse-outer .elipse-inner button {
  display: inline-block;
  position: absolute;
  bottom: 2%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 0.8rem 2rem;
  border: 1px solid #fff;
  border-radius: 2rem;
  background-color: transparent;
  font-family: inherit;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

@media (hover: hover) and (pointer: fine) {
  .elipse-outer .elipse-inner button:hover {
    background-color: #fff;
    color: #000;
    outline: none;
  }
}

.elipse-outer .elipse-inner button:hover a {
  text-decoration: none;
  color: #000;
}

.elipse-outer .elipse-inner button a {
  text-decoration: none;
  color: #fff;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  z-index: 2;
  width: 100%;
  padding: 0.5rem;
  -webkit-transition: padding 0.3s ease-in-out, background-color 0.3s ease-in-out;
  transition: padding 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

@media (min-width: 700px) {
  .navbar {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.navbar .navbar__menu {
  display: none;
  width: 100%;
  max-width: 600px;
  list-style: none;
  font-size: 1.6rem;
}

@media (min-width: 700px) {
  .navbar .navbar__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

.navbar .navbar__menu li a {
  color: #fff;
  text-decoration: none;
}

.navbar.active {
  background-color: #5e24d5;
  padding: 0.5rem;
}

.navbar.active.expanded {
  background-color: transparent;
}

@media (min-width: 320px) {
  .navbar {
    padding: 1rem;
  }
}

.navbar .navbar__logo {
  height: 2rem;
  padding-left: 0.5rem;
}

@media (min-width: 320px) {
  .navbar .navbar__logo {
    padding-left: 1rem;
  }
}

.navbar .navbar__toggler {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem;
  cursor: pointer;
}

@media (min-width: 320px) {
  .navbar .navbar__toggler {
    padding: 1rem;
  }
}

@media (min-width: 700px) {
  .navbar .navbar__toggler {
    visibility: hidden;
  }
}

.navbar .navbar__toggler .navbar__toggler__inner {
  position: relative;
  width: 32px;
  height: 22px;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

.navbar .navbar__toggler .navbar__toggler__inner .navbar__toggler__inner__bar {
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #fff;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

.navbar .navbar__toggler .navbar__toggler__inner::before {
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #fff;
  content: '';
  top: 0;
  left: 0;
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}

.navbar .navbar__toggler .navbar__toggler__inner::after {
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #fff;
  content: '';
  bottom: 0;
  left: 0;
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}

.navbar .navbar__toggler.active .navbar__toggler__inner::before {
  -webkit-transform: translateY(9.5px) rotate(45deg);
          transform: translateY(9.5px) rotate(45deg);
}

.navbar .navbar__toggler.active .navbar__toggler__inner__bar {
  background-color: transparent;
}

.navbar .navbar__toggler.active .navbar__toggler__inner::after {
  -webkit-transform: translateY(-9.5px) rotate(-45deg);
          transform: translateY(-9.5px) rotate(-45deg);
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100vw;
  height: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#4b11c2), to(#7a3ff2));
  background: linear-gradient(#4b11c2, #7a3ff2);
  overflow: hidden;
  -webkit-transition: height 0.4s ease-in-out;
  transition: height 0.4s ease-in-out;
}

.menu ul {
  width: 100%;
  list-style: none;
  text-align: center;
  font-size: 1.8rem;
  color: #fff;
}

.menu ul li {
  padding: 0.5rem 0;
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}

.menu ul li a {
  text-decoration: none;
  color: #fff;
}

.menu.active {
  height: 100vh;
}

.menu.active li {
  opacity: 1;
}

.navbar__menu li a[href='#container'] {
  text-decoration: underline;
}
/*# sourceMappingURL=style.css.map */